name: Audit Logs Service CI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker build
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & push the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/microservices-audit-logs:buildcache-${{github.ref_name}}
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/microservices-audit-logs:buildcache-${{github.ref_name}},mode=max
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-audit-logs:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/microservices-audit-logs:${{ github.sha }}
